<!--ad A-->
<div class="ad">
	<img src="http://dummyimage.com/300x250/0065b8/fff.png&text=AD" width="300" height="250" alt="title">
</div>

<div id="asideInner">
	<div id="latestMagazine">
		<a href="#"><img src="http://dummyimage.com/167x226/0065b8/fff.png&text=magazine" width="167" height="226" alt="title"></a><br>
		5月19日発売　表紙:野々村龍太郎
	</div>
	<div id="ittokuBox">
		<h3>第1特集：タブーと陰謀論</h3>
		<div class="photo"><img src="http://dummyimage.com/280x65/0065b8/fff.png&text=ittoku" width="280" height="65" alt="title"></div>
		<ul>
			<li><a href="#"> “陰謀論”を検証する10冊、その真実と虚構のボーダーライン</a></li>
			<li><a href="#"> タブー解禁! 藤井リナ本誌独占インタビュー</a></li>
			<li><a href="#">モーニング娘。再ブレイクの裏に電通あり!?</a></li>
			<li><a href="#">独裁者、9・11……写真と陰謀論のキケンな関係</a></li>
			<li><a href="#"> ヤクザもIT企業も利用するタックスへイヴンの闇</a></li>
			<li><a href="#">旧財閥形成史から紐解く「財閥陰謀論」が生まれる理由</a></li>
			<li><a href="#">菊タブーが過激な陰謀論を生み出す元凶!?</a></li>
			<li><a href="#">是か非か!? 音楽業界ゴーストライターのリアルな実情</a></li>
			<li><a href="#">統一球から見えた球界とスポーツメーカーの危険な関係</a></li>
			<li><a href="#">患者不在の新薬開発と製薬会社の黒いロビー活動</a></li>
		</ul>
	</div>
	<div id="nitokuBox">
		<h3>第2特集：「論文」という“共有知”</h3>
		<div class="photo"><img src="http://dummyimage.com/280x65/0065b8/fff.png&text=nitoku" width="280" height="65" alt="title"></div>
		<ul>
			<li><a href="#">ニュートンの論文は論文じゃない? 深すぎる論文の歴史</a></li>
			<li><a href="#">万有引力からiPS細胞まで、“有名論文”勝手にレビュー</a></li>
			<li><a href="#">理系研究者たちが大議論! 科学論文の脆弱性とギョーカイ裏話</a></li>
			<li><a href="#"> ［column］元朝日新聞・科学部記者に聞く「学術誌に支配される基礎科学報道」</a></li>
		</ul>
	</div>
	<div id="newsBox">
		<h3>NEWS SOURCE</h3>
		<ul>
			<li><a href="#">不祥事続くジャニーズ “第二の嵐”はSexyZoneに決定!?</a></li>
			<li><a href="#"> “芸能界のドン”に刃を向け逮捕された暴力団組長の反撃!</a></li>
			<li><a href="#">ニコニコ超会議で笑顔で演説の安倍首相を横目に、甘利大臣が「TPPはもうイヤだ!」</a></li>
			<li><a href="#">オバマ大統領来日の裏で大炎上!“奇行の貴公子”ジャスティン・ビーバー靖国参拝の裏側</a></li>
		</ul>
	</div>
	<div id="interviewBox">
		<h3>インタビュー</h3>
		<ul>
			<li><a href="#">柳ゆり菜（女優）<br>EXILEのバックで踊っていた美少女が、水着姿で女優デビュー!?</a></li>
			<li><a href="#">岩佐真悠子（女優）<br>女優としての確かな成長はマ○コ連呼のおかげ!?</a></li>
			<li><a href="#">大沢樹生×諸星和己（俳優）<br>不仲説を打ち破り邂逅した“光GENJI”たち</a></li>
			<li><a href="#">プラモデルを1/1で作る会（モデラー）<br>手作りで原寸大戦車模型を作る狂気</a></li>
		</ul>
	</div>
	<div id="columnBox">
		<h3>連載</h3>
		<ul>
			<li><a href="#">マルサの女 「松浦 雅」</a></li>
			<li><a href="#">CYZO COLUMN CURATION</a></li>
			<li><a href="#">CYZO PLANETS<br>「月刊カルチャー時評」</a></li>
			<li><a href="#">高須基仁の「全摘」</a></li>
			<li><a href="#">佐々木俊尚の<br>「ITインサイド・レポート」</a></li>
			<li><a href="#">クロサカタツヤの<br>「ネオ・ビジネス・マイニング」</a></li>
			<li><a href="#">丸屋九兵衛の音樂時事備忘<br>「ファンキー・ホモ・サピエンス」</a></li>
			<li><a href="#">哲学者・萱野稔人の<br>「“超”哲学入門」</a></li>
			<li><a href="#">法社会学者・河合幹雄の<br>「法“痴”国家ニッポン」</a></li>
			<li><a href="#">コラムニスト・小田嶋隆の<br>「友達リクエストの時代」</a></li>
			<li><a href="#">神保哲生×宮台真司の<br>「マル激TALK ON DEMAND」<br>【今月のゲスト】八代嘉美氏（京都大学iPS細胞研究所特定准教授）</a></li>
			<li><a href="#">町田康の「続・関東戎夷焼煮袋」</a></li>
			<li><a href="#">町山智浩の「映画でわかるアメリカがわかる」</a></li>
			<li><a href="#">「彼女の耳の穴」<br>【今月の耳寄り人】リンダdada（ミュージシャン）</a></li>
			<li><a href="#">小原真史の「写真時評」<br>【今月のテーマ】キリング・フィールドへの待合室</a></li>
			<li><a href="#">笹 公人　江森康之の「念力事報」</a></li>
			<li><a href="#">「下着と水着の考証学」<br>【今月のゲスト】涼川絢音（AV女優）</a></li>
			<li><a href="#">RGの「あるある! アダルトグッズ考」</a></li>
			<li><a href="#">お色気性事学入門<br>【今月のテーマ】清水理紗　オバマ来日とTPP問題</a></li>
			<li><a href="#">麻生 泰の「カツラ業界裏奇譚」</a></li>
			<li><a href="#">宇野常寛の「批評のブルーオーシャン」</a></li>
			<li><a href="#">花くまゆうさくの「カストリ漫報」</a></li>
		</ul>
	</div>
</div>
