<ul id="mediaLink">
	<li><a href="http://www.cyzo.com/"><img src="/_pcRenewal/img/footer/icon-cyzo.png" alt="日刊サイゾー"></a></li>
	<li><a href="http://www.menscyzo.com/"><img src="/_pcRenewal/img/footer/icon-mens.png" alt="men's cyzo"></a></li>
	<li><a href="http://www.cyzowoman.com/"><img src="/_pcRenewal/img/footer/icon-woman.png" alt="サイゾーウーマン"></a></li>
	<li><a href="http://biz-journal.jp/"><img src="/_pcRenewal/img/footer/icon-bj.gif" alt="BizJounal"></a></li>
	<li><a href="http://happism.cyzowoman.com/"><img src="/_pcRenewal/img/footer/icon-happism.png" alt="ハピズム"></a></li>
	<li><a href="http://cylab.jp/"><img src="/_pcRenewal/img/footer/icon-cylab.png" alt="サイラボ-cylab-"></a></li>
	<li><a href="http://mess-y.com/"><img src="/_pcRenewal/img/footer/icon-messy.png" alt="messy"></a></li>
	<li><a href="http://realsound.jp/"><img src="/_pcRenewal/img/footer/icon-realsound.png" alt="realsound"></a></li>
	<li><a href="http://otapol.jp/"><img src="/_pcRenewal/img/footer/icon-otapol.png" alt="オタポル" height="20"></a></li>
	<li><a href="http://tocana.jp/"><img src="/_pcRenewal/img/footer/icon-tocana.png" alt="TOCANA" height="20"></a></li>
	<li><a href="http://lite-ra.com/"><img src="/_pcRenewal/img/footer/icon-litera.png" height="20" alt="リテラ"></a></li>
</ul>
<ul id="premiumLink">
	<li><a href="http://cyzo.co.jp" target="_blank">会社概要</a></li>
	<li><a href="https://www.premiumcyzo.com/modules/ot/contact.php">お問い合わせ</a></li>
	<li><a href="http://www.premiumcyzo.com/modules/ot/rule.php">利用規約</a></li>
	<li><a href="http://www.premiumcyzo.com/modules/ot/tokushou.php">特定商取引</a></li>
	<li><a href="http://www.premiumcyzo.com/modules/ot/privacy.php">個人情報の取り扱いについて</a></li>
</ul>
<p id="copyright">copyright&copy;cyzo inc. all right reserved.</p>