<div id="nav"><div id="navInner">
	<div id="logo"><a href="http://www.premiumcyzo.com/">プレミアムサイゾー</a></div>
	<ul>
		<li id="free"><a href="#">無料記事</a></li>
		<li id="column"><a href="#">連載</a></li>
		<li id="interview"><a href="#">インタビュー</a></li>
		<li id="gravure"><a href="#">グラビア</a></li>
		<li id="backnumber"><a href="#">バックナンバー</a></li>
		<li id="about"><a href="#">プレミアとは</a></li>
		<li id="login"><a href="#">ログイン</a></li>
	</ul>
</div></div>
<div id="goPageTop"></div>
