<div id="headTool">
	<div><a href="#">新規会員登録</a></div>
	<form action="/search.html">
		<input type="text" name="q" id="navWord">
		<input type="image" name="submit" src="/_pcRenewal/img/common/icon-search.png" id="navSearchBtn">
	</form>
</div>