//変数
$red : #e60012;
$redHover : #ac000d;
$blue : #11499e;
$blueHover : #678ec9;

//mixin
@mixin leftSideArrow($top:4px,$left:7px,$color:#000,$borderLeft:8px,$borderTopBottom:4px) {
  display:block;
  content: "";
  width:0;
  height:0;
  border-top:$borderTopBottom solid transparent;
  border-bottom:$borderTopBottom solid transparent;
  border-left:$borderLeft solid $color;
  border-right:0 solid transparent;
  position:absolute;
  top: $top;
  left: $left;
}

@mixin currentRedArrow {
  display:block;
  content: "";
  width:0;
  height:0;
  border-top:10px solid $red;
  border-bottom:0 solid #fff;
  border-left:5px solid #fff;
  border-right:5px solid #fff;
  position:absolute;
  bottom:-14px;
  left:51px;
}

@mixin newFree($value) {
  display:block;
  content: "";
  width:0;
  height:0;
  border-top:27px solid $value;
  border-bottom:27px solid transparent;
  border-left:27px solid $value;
  border-right:27px solid transparent;
  position:absolute;
  top: -5px;
  left: -12px;
  z-index:1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

@mixin catIcon {
  float:left;
  width:86px;
  padding-top:3px;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  &.iconIttoku    { border:1px solid #fab400; color:#fab400; }
  &.iconNitoku    { border:1px solid #eda5dc; color:#eda5dc; }
  &.iconRensai    { border:1px solid #c295c4; color:#c295c4; }
  &.iconNews      { border:1px solid #c7db18; color:#c7db18; }
  &.iconInterview { border:1px solid #b6dddb; color:#b6dddb; }
}

@mixin subTitle($value) {
  float:right;
  width:$value - 88 - 8px;
  padding:5px 0 0 8px;
  font-size:16px;
  font-weight:bold;
  color:#898989;
}

@mixin entryTitle($value) {
  clear:both;
  width:$value;
  padding:8px 0 8px 0;
  font-size:25px;
  font-weight:bold;
  line-height:1.2em;
  a:hover {
    text-decoration:underline;
  }
}

@mixin entryTags {
  margin-bottom:8px;
  span:after {
      content:" | ";
  }
  span:last-child:after {
      content:"";
  }
  a {
    color:$blue;
    &:hover {
      color:$blueHover;
      text-decoration:underline;
    }
  }
}

@mixin entryDate($value) {
  float:$value;
  width:100px;
}

@mixin boxTitle {
  margin-bottom:8px;
  padding-left:10px;
  border-left:5px solid $red;
  font-size:18px;
  font-weight:bold;
}

@mixin photoShadow {
  box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
}
