@charset "utf-8";
@import "mixin+variable";

body {
	font-size: 12px;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "Osaka", sans-serif !important;
	color: #333;
	line-height: 1.6em;
	position: relative;
	overflow-y: scroll;
}
a {
	color: #333;
	text-decoration: none;
	&:hover {
		color: #555;
		text-decoration: none;
	}
}
img {
	vertical-align: top;
}
div:after, ul:after, li:after, dl:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	line-height: 0;
	visibility: hidden;
}
.split {
	display: block;
	overflow: hidden;
	background: url(/_pcRenewal/img/bg.png) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
}
.dotText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#wrapper {
  width: 1000px;
  margin:0 auto;
}
#contents {
	@extend #wrapper;
  padding-top:20px;
	position: relative;
	top:55px;
	z-index: 10;
}
/* header
****************************************************************************/
#header {
  @extend #wrapper;
  padding-top:14px;
  h1, #copyText {
    float:left;
    width:680px;
    font-size:14px;
    font-weight:bold;
  }
  #headTool {
    float:right;
    width:300px;
    div {
      float:left;
      width:84 - 10px;
      padding:5px 10px;
      background:$red;
      border-radius:4px;
      text-align:center;
      a {
        color:#fff;
      }
      &:hover {
        background:$redHover;
        a {
          text-decoration:none;
        }
      }
    }
    form {
      float:right;
      width:193px;
      height:25px;
      padding:2px;
      border:1px solid #bbb;
      border-radius:10px;
      input[type=text] {
        width:193 - 24px;
        height:25px;
        border:none;
      }
      input[type=image] {
        display: inline-block;
        vertical-align: middle;
        padding-right: 4px;
      }
    }
  }
}

/* global nav
****************************************************************************/
#nav {
  width: 100%;
  position:absolute;
  top:35px;
}
#navInner {
  @extend #wrapper;
  #logo {
    @extend .split;
    float:left;
    width:142px;
    height:57px;
    background-position:0 0;
    a {
      display:block;
      width:142px;
      height:57px;
    }
  }
  ul {
    float:right;
    width:849px;
    margin-top:36px;
    border-right:2px solid #a6a6a6;
    li {
      @extend .split;
      float:left;
      width:119px;
      height:17px;
      border-left:2px solid #a6a6a6;
      a {
        display:block;
        width:119px;
        height:17px;
      }
      &#free       {background-position:0 -57 - 17 * 0px;}
      &#column     {background-position:0 -57 - 17 * 1px;}
      &#interview  {background-position:0 -57 - 17 * 2px;}
      &#gravure    {background-position:0 -57 - 17 * 3px;}
      &#backnumber {background-position:0 -57 - 17 * 4px;}
      &#about      {background-position:0 -57 - 17 * 5px;}
      &#login      {background-position:0 -57 - 17 * 6px;}
      &#free:hover       {background-position:-119px -57 - 17 * 0px;}
      &#column:hover     {background-position:-119px -57 - 17 * 1px;}
      &#interview:hover  {background-position:-119px -57 - 17 * 2px;}
      &#gravure:hover    {background-position:-119px -57 - 17 * 3px;}
      &#backnumber:hover {background-position:-119px -57 - 17 * 4px;}
      &#about:hover      {background-position:-119px -57 - 17 * 5px;}
      &#login:hover      {background-position:-119px -57 - 17 * 6px;}
    }
  }
}


/* top main visual
****************************************************************************/
#mainvisual {
  overflow:hidden;
  width:1000px;
  height:550px;
  position:relative;
  #photo {
    width:1000px;
    height:550px;
    position:relative;
    #photoInner {
      position:absolute;
      top:0;
      a {
        display:block;
        float:left;
        width:1000px;
        height:550px;
        margin:0;
      }
    }
  }
  #text {
    overflow:hidden;
    width:1000px;
    height:45px;
    position:absolute;
    bottom:0;
    left:0;
    #textInner {
      background:rgba(0,0,0,0.8);
      position:absolute;
      top:0;
      p {
        @extend .dotText;
        float:left;
        width:1000 - 26px;
        height:45 - 26px;
        margin:0;
        padding:13px;
          color:#fff;
        a {
          font-size: 18px;
          font-weight: bold;
          color:#fff;
        }
      }
    }
  }
}

/* archive
****************************************************************************/
#archive {
  float:left;
  width:680px;
}
#subNav {
  width:680px;
  margin:20px 0 30px 0;
  border-top:1px solid #000;
  font-weight:bold;
  div {
    padding:15px;
    font-size:15px;
    text-align:center;
  }
  ul {
    width:113 * 6 + 1px;
    height:31px;
    background:#000;
    text-align:center;
    li {
      display:block;
      float:left;
      width:112px;
      margin-left:1px;
      background:#fff;
      font-size:14px;
      position:relative;
      &.current, &:hover {
        border-bottom:4px solid $red;
        a:after {
          @include currentRedArrow();
        }
      }
      a {
        display:block;
        padding:6px 0;
      }
    }
  }
}
#entryTL {
  width:680px;
  position:relative;
  > div {
    position:absolute;
    top:0;
    left:0;
    &#entryLoad {
      display:block;
      width:680px;
      padding-top:60px;
      text-align:center;
    }
  }
  .entry {
    clear:both;
    width:680px;
    margin-bottom:20px;
    padding-bottom:30px;
    border-bottom:2px dotted #999;
    position:relative;
    .txt {
      float:right;
      width:680 - 140px;
      .catIcon {
        @include catIcon();
      }
      .subTitle {
        @include subTitle(540px);
      }
      h2,h3 {
        @include entryTitle(550px);
      }
      .entryTags {
        @include entryTags();
      }
      p {
        margin-bottom:8px;
        font-size:13px;
      }
      .subInfo {
        .readmore {
          float:right;
          width:80px;
          text-align:right;
          position:relative;
          &:before {
            @include leftSideArrow();
          }
          a {
            color:$blue;
            &:hover {
              color:$blueHover;
              text-decoration:underline;
            }
          }
        }
        .entryDate {
          @include entryDate(left);
        }
      }
    }
    &:last-child {
      border-bottom:none;
    }
    .newFree {
      margin: 11px 8px 8px 3px;
      font-size:13px;
      font-weight:bold;
      position:absolute;
      top:-2px;
      left:0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      &.new {
        color:#fff;
      }
      &.new:before {
        @include newFree(#ff0000);
      }
      &.free:before {
        @include newFree(#f0ff00);
      }
      span {
        position: relative;
        z-index:2;
      }
    }
    .photo {
      overflow:hidden;
      float:left;
      width:126px;
      height:160px;
    }
  }
  .gotoLatest {
    width:250px;
    height:36px;
    margin:0 auto;
    font-size:16px;
    text-align:center;
    a {
      display:block;
      width:250px;
      height:25px;
      padding-top:11px;
      border-bottom:3px solid #000;
      background:#666;
      color:#fff;
      &:hover {
        border-bottom:3px solid #000;
        background:#000;
      }
    }
  }
}
.index #entryTL > div {
  display:none;
}
#pageNav {
  clear:both;
  width:100%;
  font-size:16px;
  text-align:center;
  * {
    display:inline-block;
  }
  div {
    font-weight:bold;
    &:after {
      display:none;
    }
  }
  li {
    a {
      display:block;
      width:26px;
      height:26px;
      &:hover {
        text-decoration:underline;
      }
    }
    span {
      display:block;
      width:26px;
      height:22px;
      padding-top:4px;
      background:#000;
      color:#fff;
    }
    &:after {
      display:none;
    }
  }
  > span {
    position: relative;
    height: 20px;
    width: 20px;
    a {
      @extend .split;
      width:10px;
      height:15px;
      margin-left:10px;
      background-position:0 -176px;
      position: absolute;
      bottom: -1px;
      right: 0;
     }
  }
}
#bread {
  margin-bottom:20px;
  a:hover {
    text-decoration:underline;
  }
}

/* entry
****************************************************************************/
#entryMain {
  margin-bottom:30px;
  padding-bottom:20px;
  border-bottom:1px dotted #333;
}
#entryheader {
  .catIcon {
    @include catIcon();
  }
  .subTitle {
    @include subTitle(680px);
  }
  h1 {
    @include entryTitle(680px);
  }
  .entryTags {
    @include entryTags();
  }
  .subInfo {
    .readitlater {
      float:left;
      width:100px;
      line-height:1.4em;
      span {
        @extend .split;
        float:left;
        width:15px;
        height:15px;
        margin-right:5px;
        background-position:-158px 0px;
      }
      a {
        font-weight:bold;
        color:#92a0a8;
      }
    }
    .entryDate {
      @include entryDate(right);
    }
  }
}
#entryHeaderAd {
  margin:20px auto 0 auto;
  width:468px;
}
#entryBody {
  margin-top:20px;
  p {
    margin-bottom: 24px;
    font-size:14px;
    line-height:1.8em;
  }
  strong {
    font-weight:bold;
  }
  pre {
    &.right {
      float: right;
      margin: 0 0 20px 20px;
      white-space: normal;
      display: block;
    }
    &.left {
      float: left;
      margin: 0 20px 20px 0;
      white-space: normal;
      display: block;
    }
    &.center {
      display: block;
      margin: 0 auto 20px;
      text-align: center;
      white-space: normal;
    }
    .stxt {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
  .komidashi {
    margin: 20px 0;
    padding: 10px 0;
    border-top:2px solid #B38E5C;
    border-bottom:2px solid #B38E5C;
    h4 {
      padding:0 12px;
      color: #B38E5C;
      font-size: 16px;
    }
  }
  .box-contents {
    width: 680px;
    margin: 20px 0;
    border-radius:8px;
    background: #E8EBEA;
    .box-contents-in {
      white-space: normal;
      padding: 24px;
      .box-title {
        padding-bottom: 10px;
        font-size:18px;
        font-weight:bold;
        color: #B38E5C;
        line-height: 1.4em;
      }
      big {
        font-size:18px;
        font-weight:bold;
        line-height: 1.3em;
      }
      .clr {
        clear:both;
        hr {
          display:none;
        }
      }
    }
  }
  .memo {
    overflow: hidden;
    float: right;
    width: 215px;
    margin:0 0 20px 20px;
    background: url(/_pcRenewal/img/entry/memo_mid.gif) repeat-y 0px 0px;
    line-height: 1.5em;
    white-space: normal;
    word-wrap:break-word;
    .memo-cont {
      padding: 16px 12px 8px 30px;
      background: url(/_pcRenewal/img/entry/memo_top.gif) no-repeat 0px 0px;
      .memo-icon {
        vertical-align: baseline;
      }
    }
    hr {
      display:none;
    }
  }
}
#sns {
  margin-bottom:20px;
  li {
    display:block;
    float:left;
    height:24px;
    &.hatebu      { width:60px; }
    &.twitter     { width:90px; }
    &.googleplus  { width:70px; > div {height:28px!important;vertical-align: middle!important;} }
    &.mixicheck   { width:60px; }
    &.facebook    { width:110px; }
  }
}
#loginArea {
  padding:50px 0 30px 0;
  text-align:center;
  #memberLongin {
    margin-bottom:30px;
    a {
      font-size:16px;
      color:$red;
      &:hover {
        color:$redHover;
      }
    }
  }
  #notMember {
    width:180px;
    height:68px;
    margin:0 auto;
    a {
      @include photoShadow();
      display:block;
      width:180 - 20px;
      height:68 - 20px;
      padding:10px;
      background:$red;
      border-radius:4px;
      font-size:16px;
      line-height:1.6em;
      color:#fff;
      &:hover {
        background:$redHover;
      }
    }
  }
}
#relateEntry {
  width:680px;
  margin-bottom:40px;
  .boxTitle {
    @include boxTitle();
  }
  li {
    position:relative;
    margin-bottom:6px;
    padding:0 0 0 12px;
    font-size:15px;
    &:before {
      @include leftSideArrow(5px,0);
    }
    a {
      color:$blue;
      &:hover {
        color:$blueHover;
        text-decoration:underline;
      }
    }
  }
}
#entryRanking {
  float:left;
  width:310px;
  font-size:15px;
  .boxTitle {
    @include boxTitle();
  }
  li {
    margin-bottom:8px;
    line-height:1.5em;
    span {
      display:block;
      float:left;
      width:25px;
      font-weight:bold;
    }
    a {
      display:block;
      float:left;
      width:310 - 25px;
      color:$blue;
      &:hover {
        color:$blueHover;
        text-decoration:underline;
      }
    }
  }
}
#freeEntry {
  float:right;
  width:330px;
  font-size:15px;
  .boxTitle {
    @include boxTitle();
  }
  .bookEtry { 
    clear:both;
    width:100%;
    margin-bottom:6px;
    a {
      color:$blue;
      &:hover {
        color:$blueHover;
        text-decoration:underline;
      }
    }
    .text {
      float:right;
      width:330 - 95 - 8px;
    }
    .photo {
      float:left;
      width:95px;
    }
  }
}
.beforeLogin {
  .readitlater {
    opacity:0.5;
  }
}


/* aside
****************************************************************************/
#aside {
  float:right;
  width:300px;
  font-size:14px;
  .ad {
    margin:20px 0;
  }
  #asideInner {
    width:280px;
    padding:25px 10px 5px 10px;
    background:#f5f5f5;
    text-align:center;
    > div {
      padding:20px 0;
      border-bottom:1px dotted #333;
      h3 {
        margin-bottom:16px;
        font-size:16px;
        font-weight:bold;
      }
      .photo {
        margin-bottom:16px;
      }
      li {
        margin-top:5px;
        padding-left: 18px;
        text-align:left;
        position:relative;
        &:before {
          @include leftSideArrow();
        }
      }
      a {
        color:$blue;
        &:hover {
          color:$blueHover;
        }
      }
    }
    > div:last-child {
      border:none;
    }
  }
  #latestMagazine {
    img {
      margin-bottom:8px;
      @include photoShadow();
    }
  }
}


/* gallery
****************************************************************************/
#dark {
  display:none;
  background:rgba(0, 0, 0, 0.4);
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  #darkInner {
    width:90%;
    margin:50px auto 0 auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    text-align:center;
    img {
      width:100%;
    }
  }
}
.gallery {
  #archive {
    width:100%;
    font-size:14px;
    #galleryThumbs {
      padding:20px 38px;
      background: #2e2a29;
      border-bottom:2px solid #666;
      > a {
        display:block;
        float: left;
        width: 15px;
        height: 56px;
        &.prev {
          background-position:0 -191px;
        }
        &.next {
          background-position:-15px -191px;
        }
      }
      .galleryThumbsBox {
        overflow:hidden;
        float:left;
        width:1000px - 80 - 30;
        height: 56px;
        margin-left:3px;
        position:relative;
        ul {
          position:absolute;
          top:0;
          left:0;
        }
        li {
          overflow:hidden;
          display:block;
          float: left;
          width: 84px;
          height: 54px;
          margin-right:3px;
          border: 1px solid #666;
          display: block;
        }
      }
    }
    #galleryLarge {
      margin-bottom:30px;
      background: #2e2a29;
      position:relative;
      .galleryPhoto {
        display:none;
        position:absolute;
        top:0;
        left:(1000px - 770) / 2;
        h2 {
          padding:6px 0 8px 14px;
          position:relative;
          &:before {
            @include leftSideArrow(10px,0,$red,10px,5px);
          }
          a {
            color:#fff;
            &:hover {
              text-decoration:underline;
            }
          }
        }
        > div {
          position:relative;
          > a {
            position:absolute;
            &.photoPrev {
              width:40px;
              height:40px;
              background-position:-71px -176px;
              top:275px;
              left:(770px - 1000) / 2;
              &:hover {
                opacity:0.7;
              }
            }
            &.photoNext {
              width:40px;
              height:40px;
              background-position:-111px -176px;
              top:275px;
              right:(770px - 1000) / 2;
              &:hover {
                opacity:0.7;
              }
            }
            &.photoZoom {
              width:40px;
              height:39px;
              background-position:-31px -176px;
              top:0;
              right:(770px - 1000) / 2;
              &:hover {
                opacity:0.7;
              }
            }
          }
        }
      }
      
    }
    #galleryMain {
      padding-bottom:30px;
      position:relative;
      .galleryMainBox {
        overflow:hidden;
        width:1000px;
        height:550px;
        position:relative;
        #galleryPhotoInner {
          position:absolute;
          top:0;
          left:0;
          a {
            display:block;
            float:left;
            width:1000px;
            height:550px;
          }
        }
        #galleryText {
          position:absolute;
          left:0;
          bottom:0;
          #galleryTextInner {
            height:45px;
            background:rgba(0, 0, 0, 0.7);
            position:absolute;
            left:0;
            bottom:0;
            a {
              display:block;
              float:left;
              width:990px;
              height:31px;
              padding:14px 0 0 10px;
              font-size:16px;
              color:#fff;
              &:hover {
                text-decoration:underline;
              }
            }
          }
        }
      }
      .mover {
        width:40px;
        height:40px;
        position:absolute;
        top:(550px - 40) / 2;
        cursor:pointer;
      }
      #moveLeft {
        background-position:-203px 0;
        left:0;
      }
      #moveRight {
        background-position:-243px 0;
        right:0;
      }
    }
    .galleryPickupBox {
      float:left;
      width:316px;
      margin-right:(1000px - 316 * 3) / 2;
      padding-bottom:30px;
      &:last-child {
        margin-right:0;
      }
      .photo {
        margin-bottom:6px;
      }
    }
    .galleryArchiveBox {
      float:left;
      width:147px;
      margin-right:(1000px - 147 * 6) / 5;
      padding-bottom:20px;
      &:nth-child(6n) {
        margin-right:0;
      }
      .photo {
        overflow:hidden;
        width:145px;
        height:95px;
        border:1px solid #afafaf;
      }
    }
    .gaSubTitle {
      padding:0 0 8px 14px;
      font-size:16px;
      position:relative;
      &:before {
        @include leftSideArrow(3px,0,$red,10px,5px);
      }
    }
  }
}

/* footer
****************************************************************************/
#footer {
  clear:both;
  @extend #wrapper;
  padding-top:100px;
  #mediaLink {
    text-align:center;
    li {
      display:inline-block;
      margin:0 5px;
    }
  }
  #premiumLink {
    float:left;
    width:635px;
    padding:20px 0 0 65px;
    li {
      display:inline-block;
      padding:2px 14px;
      border-left:1px solid #000;
      font-size:13px;
      &:last-child {
        border-right:1px solid #000;
      }
    }
  }
  #copyright {
    float:right;
    width:290px;
    padding-top:20px;
    font-size:13px;
  }
}


/* backnumber
****************************************************************************/
#backnumberList {
  padding-bottom:20px;
  div.box {
    float:left;
    width:310px;
    padding:30px 0;
    border-top:1px solid #000;
    font-size:14px;
    text-align:center;
    position:relative;
    &:nth-child(2n) {
      float:right;
    }
    &:hover {
      .link {
        display:block;
        width:310px;
        position:absolute;
        top:0;
        left:0;
        a {
          display:block;
          width:310px;
          background:rgba(255,0,0,0.1);
        }
      }
    }
    .photo img {
      @include photoShadow();
    }
    .month {
      margin:12px 0 18px 0;
    }
    .tokusyu {
      margin-bottom:6px;
      font-weight:bold;
    }
  }
  #backnumberListAd {
    clear:both;
    width:468px;
    margin:0 auto;
    padding:10px 0 40px 0;
  }
}
#bnMokuji {
  #bnIntro {
    width:680 - 40px;
    padding:19px;
    border:1px solid #000;
    dl {
      float:right;
      width:640 - 140px;
      font-weight:bold;
      dt {
        font-size:14px;
        margin-bottom:8px;
      }
      dd {
        font-size:16px;
        margin-bottom:20px;
        a {
          font-weight:bold;
        }
      }
    }
    .photo {
      float:left;
      width:120px;
      img {
        @include photoShadow();
      }
    }
  }
  .tokusyu {
    clear:both;
    width:100%;
    padding-top:30px;
    .tokusyuTitle {
      margin-bottom:4px;
      font-size:14px;
      font-weight:bold;
    }
    .visual {
      margin-bottom:30px;
    }
    .catIcon {
      @include catIcon();
    }
    .tokusyuBody {
      clear:both;
      float:left;
      width:540px;
      .mokuji-bold {
        font-size:15px;
        font-weight:bold;
      }
      .mokuji-text {
        padding:10px 0 24px 0;
        font-size:14px;
        li {
          padding-left: 13px;
          position:relative;
          &:before {
            @include leftSideArrow(5px,0);
          }
          a {
            color:$blue;
            &:hover {
              color:$blueHover;
            }
          }
        }
      }
    }
    .tokusyuImg {
      float:right;
      width:130px;
      li {
        padding-bottom:6px;
      }
    }
    &#column .tokusyuBody {
      padding-top:10px;
    }
  }
}

/* etc
****************************************************************************/
#goPageTop {
  display:none;
  width:80px;
  height:80px;
  background:rgba(0, 0, 0, 0.2);
  position:fixed;
  right:10px;
  bottom:10px;
  z-index: 20;
  cursor:pointer;
  &:before {
    display:block;
    content: "";
    width:0;
    height:0;
    border-top:0 solid transparent;
    border-bottom:40px solid #fff;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    position:absolute;
    bottom:20px;
    left:20px;
    opacity:0.8;
  }
}