@charset "UTF-8";
body {
  font-size: 12px;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "Osaka", sans-serif !important;
  color: #333;
  line-height: 1.6em;
  position: relative;
  overflow-y: scroll;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #555;
  text-decoration: none;
}

img {
  vertical-align: top;
}

div:after, ul:after, li:after, dl:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

.split, #navInner #logo, #navInner ul li, #pageNav > span a, #entryheader .subInfo .readitlater span {
  display: block;
  overflow: hidden;
  background: url(/_pcRenewal/img/bg.png) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
}

.dotText, #mainvisual #text #textInner p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrapper, #contents, #header, #navInner, #footer {
  width: 1000px;
  margin: 0 auto;
}

#contents {
  padding-top: 20px;
  position: relative;
  top: 55px;
  z-index: 10;
}

/* header
****************************************************************************/
#header {
  padding-top: 14px;
}
#header h1, #header #copyText {
  float: left;
  width: 680px;
  font-size: 14px;
  font-weight: bold;
}
#header #headTool {
  float: right;
  width: 300px;
}
#header #headTool div {
  float: left;
  width: 74px;
  padding: 5px 10px;
  background: #e60012;
  border-radius: 4px;
  text-align: center;
}
#header #headTool div a {
  color: #fff;
}
#header #headTool div:hover {
  background: #ac000d;
}
#header #headTool div:hover a {
  text-decoration: none;
}
#header #headTool form {
  float: right;
  width: 193px;
  height: 25px;
  padding: 2px;
  border: 1px solid #bbb;
  border-radius: 10px;
}
#header #headTool form input[type=text] {
  width: 169px;
  height: 25px;
  border: none;
}
#header #headTool form input[type=image] {
  display: inline-block;
  vertical-align: middle;
  padding-right: 4px;
}

/* global nav
****************************************************************************/
#nav {
  width: 100%;
  position: absolute;
  top: 35px;
}

#navInner #logo {
  float: left;
  width: 142px;
  height: 57px;
  background-position: 0 0;
}
#navInner #logo a {
  display: block;
  width: 142px;
  height: 57px;
}
#navInner ul {
  float: right;
  width: 849px;
  margin-top: 36px;
  border-right: 2px solid #a6a6a6;
}
#navInner ul li {
  float: left;
  width: 119px;
  height: 17px;
  border-left: 2px solid #a6a6a6;
}
#navInner ul li a {
  display: block;
  width: 119px;
  height: 17px;
}
#navInner ul li#free {
  background-position: 0 -57px;
}
#navInner ul li#column {
  background-position: 0 -74px;
}
#navInner ul li#interview {
  background-position: 0 -91px;
}
#navInner ul li#gravure {
  background-position: 0 -108px;
}
#navInner ul li#backnumber {
  background-position: 0 -125px;
}
#navInner ul li#about {
  background-position: 0 -142px;
}
#navInner ul li#login {
  background-position: 0 -159px;
}
#navInner ul li#free:hover {
  background-position: -119px -57px;
}
#navInner ul li#column:hover {
  background-position: -119px -74px;
}
#navInner ul li#interview:hover {
  background-position: -119px -91px;
}
#navInner ul li#gravure:hover {
  background-position: -119px -108px;
}
#navInner ul li#backnumber:hover {
  background-position: -119px -125px;
}
#navInner ul li#about:hover {
  background-position: -119px -142px;
}
#navInner ul li#login:hover {
  background-position: -119px -159px;
}

/* top main visual
****************************************************************************/
#mainvisual {
  overflow: hidden;
  width: 1000px;
  height: 550px;
  position: relative;
}
#mainvisual #photo {
  width: 1000px;
  height: 550px;
  position: relative;
}
#mainvisual #photo #photoInner {
  position: absolute;
  top: 0;
}
#mainvisual #photo #photoInner a {
  display: block;
  float: left;
  width: 1000px;
  height: 550px;
  margin: 0;
}
#mainvisual #text {
  overflow: hidden;
  width: 1000px;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#mainvisual #text #textInner {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
}
#mainvisual #text #textInner p {
  float: left;
  width: 974px;
  height: 19px;
  margin: 0;
  padding: 13px;
  color: #fff;
}
#mainvisual #text #textInner p a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/* archive
****************************************************************************/
#archive {
  float: left;
  width: 680px;
}

#subNav {
  width: 680px;
  margin: 20px 0 30px 0;
  border-top: 1px solid #000;
  font-weight: bold;
}
#subNav div {
  padding: 15px;
  font-size: 15px;
  text-align: center;
}
#subNav ul {
  width: 679px;
  height: 31px;
  background: #000;
  text-align: center;
}
#subNav ul li {
  display: block;
  float: left;
  width: 112px;
  margin-left: 1px;
  background: #fff;
  font-size: 14px;
  position: relative;
}
#subNav ul li.current, #subNav ul li:hover {
  border-bottom: 4px solid #e60012;
}
#subNav ul li.current a:after, #subNav ul li:hover a:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #e60012;
  border-bottom: 0 solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  position: absolute;
  bottom: -14px;
  left: 51px;
}
#subNav ul li a {
  display: block;
  padding: 6px 0;
}

#entryTL {
  width: 680px;
  position: relative;
}
#entryTL > div {
  position: absolute;
  top: 0;
  left: 0;
}
#entryTL > div#entryLoad {
  display: block;
  width: 680px;
  padding-top: 60px;
  text-align: center;
}
#entryTL .entry {
  clear: both;
  width: 680px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 2px dotted #999;
  position: relative;
}
#entryTL .entry .txt {
  float: right;
  width: 540px;
}
#entryTL .entry .txt .catIcon {
  float: left;
  width: 86px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#entryTL .entry .txt .catIcon.iconIttoku {
  border: 1px solid #fab400;
  color: #fab400;
}
#entryTL .entry .txt .catIcon.iconNitoku {
  border: 1px solid #eda5dc;
  color: #eda5dc;
}
#entryTL .entry .txt .catIcon.iconRensai {
  border: 1px solid #c295c4;
  color: #c295c4;
}
#entryTL .entry .txt .catIcon.iconNews {
  border: 1px solid #c7db18;
  color: #c7db18;
}
#entryTL .entry .txt .catIcon.iconInterview {
  border: 1px solid #b6dddb;
  color: #b6dddb;
}
#entryTL .entry .txt .subTitle {
  float: right;
  width: 444px;
  padding: 5px 0 0 8px;
  font-size: 16px;
  font-weight: bold;
  color: #898989;
}
#entryTL .entry .txt h2, #entryTL .entry .txt h3 {
  clear: both;
  width: 550px;
  padding: 8px 0 8px 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2em;
}
#entryTL .entry .txt h2 a:hover, #entryTL .entry .txt h3 a:hover {
  text-decoration: underline;
}
#entryTL .entry .txt .entryTags {
  margin-bottom: 8px;
}
#entryTL .entry .txt .entryTags span:after {
  content: " | ";
}
#entryTL .entry .txt .entryTags span:last-child:after {
  content: "";
}
#entryTL .entry .txt .entryTags a {
  color: #11499e;
}
#entryTL .entry .txt .entryTags a:hover {
  color: #678ec9;
  text-decoration: underline;
}
#entryTL .entry .txt p {
  margin-bottom: 8px;
  font-size: 13px;
}
#entryTL .entry .txt .subInfo .readmore {
  float: right;
  width: 80px;
  text-align: right;
  position: relative;
}
#entryTL .entry .txt .subInfo .readmore:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid black;
  border-right: 0 solid transparent;
  position: absolute;
  top: 4px;
  left: 7px;
}
#entryTL .entry .txt .subInfo .readmore a {
  color: #11499e;
}
#entryTL .entry .txt .subInfo .readmore a:hover {
  color: #678ec9;
  text-decoration: underline;
}
#entryTL .entry .txt .subInfo .entryDate {
  float: left;
  width: 100px;
}
#entryTL .entry:last-child {
  border-bottom: none;
}
#entryTL .entry .newFree {
  margin: 11px 8px 8px 3px;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#entryTL .entry .newFree.new {
  color: #fff;
}
#entryTL .entry .newFree.new:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 27px solid red;
  border-bottom: 27px solid transparent;
  border-left: 27px solid red;
  border-right: 27px solid transparent;
  position: absolute;
  top: -5px;
  left: -12px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
#entryTL .entry .newFree.free:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 27px solid #f0ff00;
  border-bottom: 27px solid transparent;
  border-left: 27px solid #f0ff00;
  border-right: 27px solid transparent;
  position: absolute;
  top: -5px;
  left: -12px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
#entryTL .entry .newFree span {
  position: relative;
  z-index: 2;
}
#entryTL .entry .photo {
  overflow: hidden;
  float: left;
  width: 126px;
  height: 160px;
}
#entryTL .gotoLatest {
  width: 250px;
  height: 36px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}
#entryTL .gotoLatest a {
  display: block;
  width: 250px;
  height: 25px;
  padding-top: 11px;
  border-bottom: 3px solid #000;
  background: #666;
  color: #fff;
}
#entryTL .gotoLatest a:hover {
  border-bottom: 3px solid #000;
  background: #000;
}

.index #entryTL > div {
  display: none;
}

#pageNav {
  clear: both;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
#pageNav * {
  display: inline-block;
}
#pageNav div {
  font-weight: bold;
}
#pageNav div:after {
  display: none;
}
#pageNav li a {
  display: block;
  width: 26px;
  height: 26px;
}
#pageNav li a:hover {
  text-decoration: underline;
}
#pageNav li span {
  display: block;
  width: 26px;
  height: 22px;
  padding-top: 4px;
  background: #000;
  color: #fff;
}
#pageNav li:after {
  display: none;
}
#pageNav > span {
  position: relative;
  height: 20px;
  width: 20px;
}
#pageNav > span a {
  width: 10px;
  height: 15px;
  margin-left: 10px;
  background-position: 0 -176px;
  position: absolute;
  bottom: -1px;
  right: 0;
}

#bread {
  margin-bottom: 20px;
}
#bread a:hover {
  text-decoration: underline;
}

/* entry
****************************************************************************/
#entryMain {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #333;
}

#entryheader .catIcon {
  float: left;
  width: 86px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#entryheader .catIcon.iconIttoku {
  border: 1px solid #fab400;
  color: #fab400;
}
#entryheader .catIcon.iconNitoku {
  border: 1px solid #eda5dc;
  color: #eda5dc;
}
#entryheader .catIcon.iconRensai {
  border: 1px solid #c295c4;
  color: #c295c4;
}
#entryheader .catIcon.iconNews {
  border: 1px solid #c7db18;
  color: #c7db18;
}
#entryheader .catIcon.iconInterview {
  border: 1px solid #b6dddb;
  color: #b6dddb;
}
#entryheader .subTitle {
  float: right;
  width: 584px;
  padding: 5px 0 0 8px;
  font-size: 16px;
  font-weight: bold;
  color: #898989;
}
#entryheader h1 {
  clear: both;
  width: 680px;
  padding: 8px 0 8px 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2em;
}
#entryheader h1 a:hover {
  text-decoration: underline;
}
#entryheader .entryTags {
  margin-bottom: 8px;
}
#entryheader .entryTags span:after {
  content: " | ";
}
#entryheader .entryTags span:last-child:after {
  content: "";
}
#entryheader .entryTags a {
  color: #11499e;
}
#entryheader .entryTags a:hover {
  color: #678ec9;
  text-decoration: underline;
}
#entryheader .subInfo .readitlater {
  float: left;
  width: 100px;
  line-height: 1.4em;
}
#entryheader .subInfo .readitlater span {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-position: -158px 0px;
}
#entryheader .subInfo .readitlater a {
  font-weight: bold;
  color: #92a0a8;
}
#entryheader .subInfo .entryDate {
  float: right;
  width: 100px;
}

#entryHeaderAd {
  margin: 20px auto 0 auto;
  width: 468px;
}

#entryBody {
  margin-top: 20px;
}
#entryBody p {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.8em;
}
#entryBody strong {
  font-weight: bold;
}
#entryBody pre.right {
  float: right;
  margin: 0 0 20px 20px;
  white-space: normal;
  display: block;
}
#entryBody pre.left {
  float: left;
  margin: 0 20px 20px 0;
  white-space: normal;
  display: block;
}
#entryBody pre.center {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  white-space: normal;
}
#entryBody pre .stxt {
  white-space: pre-wrap;
  word-wrap: break-word;
}
#entryBody .komidashi {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 2px solid #B38E5C;
  border-bottom: 2px solid #B38E5C;
}
#entryBody .komidashi h4 {
  padding: 0 12px;
  color: #B38E5C;
  font-size: 16px;
}
#entryBody .box-contents {
  width: 680px;
  margin: 20px 0;
  border-radius: 8px;
  background: #E8EBEA;
}
#entryBody .box-contents .box-contents-in {
  white-space: normal;
  padding: 24px;
}
#entryBody .box-contents .box-contents-in .box-title {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #B38E5C;
  line-height: 1.4em;
}
#entryBody .box-contents .box-contents-in big {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3em;
}
#entryBody .box-contents .box-contents-in .clr {
  clear: both;
}
#entryBody .box-contents .box-contents-in .clr hr {
  display: none;
}
#entryBody .memo {
  overflow: hidden;
  float: right;
  width: 215px;
  margin: 0 0 20px 20px;
  background: url(/_pcRenewal/img/entry/memo_mid.gif) repeat-y 0px 0px;
  line-height: 1.5em;
  white-space: normal;
  word-wrap: break-word;
}
#entryBody .memo .memo-cont {
  padding: 16px 12px 8px 30px;
  background: url(/_pcRenewal/img/entry/memo_top.gif) no-repeat 0px 0px;
}
#entryBody .memo .memo-cont .memo-icon {
  vertical-align: baseline;
}
#entryBody .memo hr {
  display: none;
}

#sns {
  margin-bottom: 20px;
}
#sns li {
  display: block;
  float: left;
  height: 24px;
}
#sns li.hatebu {
  width: 60px;
}
#sns li.twitter {
  width: 90px;
}
#sns li.googleplus {
  width: 70px;
}
#sns li.googleplus > div {
  height: 28px !important;
  vertical-align: middle !important;
}
#sns li.mixicheck {
  width: 60px;
}
#sns li.facebook {
  width: 110px;
}

#loginArea {
  padding: 50px 0 30px 0;
  text-align: center;
}
#loginArea #memberLongin {
  margin-bottom: 30px;
}
#loginArea #memberLongin a {
  font-size: 16px;
  color: #e60012;
}
#loginArea #memberLongin a:hover {
  color: #ac000d;
}
#loginArea #notMember {
  width: 180px;
  height: 68px;
  margin: 0 auto;
}
#loginArea #notMember a {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  display: block;
  width: 160px;
  height: 48px;
  padding: 10px;
  background: #e60012;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6em;
  color: #fff;
}
#loginArea #notMember a:hover {
  background: #ac000d;
}

#relateEntry {
  width: 680px;
  margin-bottom: 40px;
}
#relateEntry .boxTitle {
  margin-bottom: 8px;
  padding-left: 10px;
  border-left: 5px solid #e60012;
  font-size: 18px;
  font-weight: bold;
}
#relateEntry li {
  position: relative;
  margin-bottom: 6px;
  padding: 0 0 0 12px;
  font-size: 15px;
}
#relateEntry li:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid black;
  border-right: 0 solid transparent;
  position: absolute;
  top: 5px;
  left: 0;
}
#relateEntry li a {
  color: #11499e;
}
#relateEntry li a:hover {
  color: #678ec9;
  text-decoration: underline;
}

#entryRanking {
  float: left;
  width: 310px;
  font-size: 15px;
}
#entryRanking .boxTitle {
  margin-bottom: 8px;
  padding-left: 10px;
  border-left: 5px solid #e60012;
  font-size: 18px;
  font-weight: bold;
}
#entryRanking li {
  margin-bottom: 8px;
  line-height: 1.5em;
}
#entryRanking li span {
  display: block;
  float: left;
  width: 25px;
  font-weight: bold;
}
#entryRanking li a {
  display: block;
  float: left;
  width: 285px;
  color: #11499e;
}
#entryRanking li a:hover {
  color: #678ec9;
  text-decoration: underline;
}

#freeEntry {
  float: right;
  width: 330px;
  font-size: 15px;
}
#freeEntry .boxTitle {
  margin-bottom: 8px;
  padding-left: 10px;
  border-left: 5px solid #e60012;
  font-size: 18px;
  font-weight: bold;
}
#freeEntry .bookEtry {
  clear: both;
  width: 100%;
  margin-bottom: 6px;
}
#freeEntry .bookEtry a {
  color: #11499e;
}
#freeEntry .bookEtry a:hover {
  color: #678ec9;
  text-decoration: underline;
}
#freeEntry .bookEtry .text {
  float: right;
  width: 227px;
}
#freeEntry .bookEtry .photo {
  float: left;
  width: 95px;
}

.beforeLogin .readitlater {
  opacity: 0.5;
}

/* aside
****************************************************************************/
#aside {
  float: right;
  width: 300px;
  font-size: 14px;
}
#aside .ad {
  margin: 20px 0;
}
#aside #asideInner {
  width: 280px;
  padding: 25px 10px 5px 10px;
  background: #f5f5f5;
  text-align: center;
}
#aside #asideInner > div {
  padding: 20px 0;
  border-bottom: 1px dotted #333;
}
#aside #asideInner > div h3 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}
#aside #asideInner > div .photo {
  margin-bottom: 16px;
}
#aside #asideInner > div li {
  margin-top: 5px;
  padding-left: 18px;
  text-align: left;
  position: relative;
}
#aside #asideInner > div li:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid black;
  border-right: 0 solid transparent;
  position: absolute;
  top: 4px;
  left: 7px;
}
#aside #asideInner > div a {
  color: #11499e;
}
#aside #asideInner > div a:hover {
  color: #678ec9;
}
#aside #asideInner > div:last-child {
  border: none;
}
#aside #latestMagazine img {
  margin-bottom: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
}

/* gallery
****************************************************************************/
#dark {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#dark #darkInner {
  width: 90%;
  margin: 50px auto 0 auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#dark #darkInner img {
  width: 100%;
}

.gallery #archive {
  width: 100%;
  font-size: 14px;
}
.gallery #archive #galleryThumbs {
  padding: 20px 38px;
  background: #2e2a29;
  border-bottom: 2px solid #666;
}
.gallery #archive #galleryThumbs > a {
  display: block;
  float: left;
  width: 15px;
  height: 56px;
}
.gallery #archive #galleryThumbs > a.prev {
  background-position: 0 -191px;
}
.gallery #archive #galleryThumbs > a.next {
  background-position: -15px -191px;
}
.gallery #archive #galleryThumbs .galleryThumbsBox {
  overflow: hidden;
  float: left;
  width: 890px;
  height: 56px;
  margin-left: 3px;
  position: relative;
}
.gallery #archive #galleryThumbs .galleryThumbsBox ul {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery #archive #galleryThumbs .galleryThumbsBox li {
  overflow: hidden;
  display: block;
  float: left;
  width: 84px;
  height: 54px;
  margin-right: 3px;
  border: 1px solid #666;
  display: block;
}
.gallery #archive #galleryLarge {
  margin-bottom: 30px;
  background: #2e2a29;
  position: relative;
}
.gallery #archive #galleryLarge .galleryPhoto {
  display: none;
  position: absolute;
  top: 0;
  left: 115px;
}
.gallery #archive #galleryLarge .galleryPhoto h2 {
  padding: 6px 0 8px 14px;
  position: relative;
}
.gallery #archive #galleryLarge .galleryPhoto h2:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #e60012;
  border-right: 0 solid transparent;
  position: absolute;
  top: 10px;
  left: 0;
}
.gallery #archive #galleryLarge .galleryPhoto h2 a {
  color: #fff;
}
.gallery #archive #galleryLarge .galleryPhoto h2 a:hover {
  text-decoration: underline;
}
.gallery #archive #galleryLarge .galleryPhoto > div {
  position: relative;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a {
  position: absolute;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a.photoPrev {
  width: 40px;
  height: 40px;
  background-position: -71px -176px;
  top: 275px;
  left: -115px;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a.photoPrev:hover {
  opacity: 0.7;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a.photoNext {
  width: 40px;
  height: 40px;
  background-position: -111px -176px;
  top: 275px;
  right: -115px;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a.photoNext:hover {
  opacity: 0.7;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a.photoZoom {
  width: 40px;
  height: 39px;
  background-position: -31px -176px;
  top: 0;
  right: -115px;
}
.gallery #archive #galleryLarge .galleryPhoto > div > a.photoZoom:hover {
  opacity: 0.7;
}
.gallery #archive #galleryMain {
  padding-bottom: 30px;
  position: relative;
}
.gallery #archive #galleryMain .galleryMainBox {
  overflow: hidden;
  width: 1000px;
  height: 550px;
  position: relative;
}
.gallery #archive #galleryMain .galleryMainBox #galleryPhotoInner {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery #archive #galleryMain .galleryMainBox #galleryPhotoInner a {
  display: block;
  float: left;
  width: 1000px;
  height: 550px;
}
.gallery #archive #galleryMain .galleryMainBox #galleryText {
  position: absolute;
  left: 0;
  bottom: 0;
}
.gallery #archive #galleryMain .galleryMainBox #galleryText #galleryTextInner {
  height: 45px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
}
.gallery #archive #galleryMain .galleryMainBox #galleryText #galleryTextInner a {
  display: block;
  float: left;
  width: 990px;
  height: 31px;
  padding: 14px 0 0 10px;
  font-size: 16px;
  color: #fff;
}
.gallery #archive #galleryMain .galleryMainBox #galleryText #galleryTextInner a:hover {
  text-decoration: underline;
}
.gallery #archive #galleryMain .mover {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 255px;
  cursor: pointer;
}
.gallery #archive #galleryMain #moveLeft {
  background-position: -203px 0;
  left: 0;
}
.gallery #archive #galleryMain #moveRight {
  background-position: -243px 0;
  right: 0;
}
.gallery #archive .galleryPickupBox {
  float: left;
  width: 316px;
  margin-right: 26px;
  padding-bottom: 30px;
}
.gallery #archive .galleryPickupBox:last-child {
  margin-right: 0;
}
.gallery #archive .galleryPickupBox .photo {
  margin-bottom: 6px;
}
.gallery #archive .galleryArchiveBox {
  float: left;
  width: 147px;
  margin-right: 23.6px;
  padding-bottom: 20px;
}
.gallery #archive .galleryArchiveBox:nth-child(6n) {
  margin-right: 0;
}
.gallery #archive .galleryArchiveBox .photo {
  overflow: hidden;
  width: 145px;
  height: 95px;
  border: 1px solid #afafaf;
}
.gallery #archive .gaSubTitle {
  padding: 0 0 8px 14px;
  font-size: 16px;
  position: relative;
}
.gallery #archive .gaSubTitle:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #e60012;
  border-right: 0 solid transparent;
  position: absolute;
  top: 3px;
  left: 0;
}

/* footer
****************************************************************************/
#footer {
  clear: both;
  padding-top: 100px;
}
#footer #mediaLink {
  text-align: center;
}
#footer #mediaLink li {
  display: inline-block;
  margin: 0 5px;
}
#footer #premiumLink {
  float: left;
  width: 635px;
  padding: 20px 0 0 65px;
}
#footer #premiumLink li {
  display: inline-block;
  padding: 2px 14px;
  border-left: 1px solid #000;
  font-size: 13px;
}
#footer #premiumLink li:last-child {
  border-right: 1px solid #000;
}
#footer #copyright {
  float: right;
  width: 290px;
  padding-top: 20px;
  font-size: 13px;
}

/* backnumber
****************************************************************************/
#backnumberList {
  padding-bottom: 20px;
}
#backnumberList div.box {
  float: left;
  width: 310px;
  padding: 30px 0;
  border-top: 1px solid #000;
  font-size: 14px;
  text-align: center;
  position: relative;
}
#backnumberList div.box:nth-child(2n) {
  float: right;
}
#backnumberList div.box:hover .link {
  display: block;
  width: 310px;
  position: absolute;
  top: 0;
  left: 0;
}
#backnumberList div.box:hover .link a {
  display: block;
  width: 310px;
  background: rgba(255, 0, 0, 0.1);
}
#backnumberList div.box .photo img {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
}
#backnumberList div.box .month {
  margin: 12px 0 18px 0;
}
#backnumberList div.box .tokusyu {
  margin-bottom: 6px;
  font-weight: bold;
}
#backnumberList #backnumberListAd {
  clear: both;
  width: 468px;
  margin: 0 auto;
  padding: 10px 0 40px 0;
}

#bnMokuji #bnIntro {
  width: 640px;
  padding: 19px;
  border: 1px solid #000;
}
#bnMokuji #bnIntro dl {
  float: right;
  width: 500px;
  font-weight: bold;
}
#bnMokuji #bnIntro dl dt {
  font-size: 14px;
  margin-bottom: 8px;
}
#bnMokuji #bnIntro dl dd {
  font-size: 16px;
  margin-bottom: 20px;
}
#bnMokuji #bnIntro dl dd a {
  font-weight: bold;
}
#bnMokuji #bnIntro .photo {
  float: left;
  width: 120px;
}
#bnMokuji #bnIntro .photo img {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 7px 0px;
}
#bnMokuji .tokusyu {
  clear: both;
  width: 100%;
  padding-top: 30px;
}
#bnMokuji .tokusyu .tokusyuTitle {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}
#bnMokuji .tokusyu .visual {
  margin-bottom: 30px;
}
#bnMokuji .tokusyu .catIcon {
  float: left;
  width: 86px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#bnMokuji .tokusyu .catIcon.iconIttoku {
  border: 1px solid #fab400;
  color: #fab400;
}
#bnMokuji .tokusyu .catIcon.iconNitoku {
  border: 1px solid #eda5dc;
  color: #eda5dc;
}
#bnMokuji .tokusyu .catIcon.iconRensai {
  border: 1px solid #c295c4;
  color: #c295c4;
}
#bnMokuji .tokusyu .catIcon.iconNews {
  border: 1px solid #c7db18;
  color: #c7db18;
}
#bnMokuji .tokusyu .catIcon.iconInterview {
  border: 1px solid #b6dddb;
  color: #b6dddb;
}
#bnMokuji .tokusyu .tokusyuBody {
  clear: both;
  float: left;
  width: 540px;
}
#bnMokuji .tokusyu .tokusyuBody .mokuji-bold {
  font-size: 15px;
  font-weight: bold;
}
#bnMokuji .tokusyu .tokusyuBody .mokuji-text {
  padding: 10px 0 24px 0;
  font-size: 14px;
}
#bnMokuji .tokusyu .tokusyuBody .mokuji-text li {
  padding-left: 13px;
  position: relative;
}
#bnMokuji .tokusyu .tokusyuBody .mokuji-text li:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid black;
  border-right: 0 solid transparent;
  position: absolute;
  top: 5px;
  left: 0;
}
#bnMokuji .tokusyu .tokusyuBody .mokuji-text li a {
  color: #11499e;
}
#bnMokuji .tokusyu .tokusyuBody .mokuji-text li a:hover {
  color: #678ec9;
}
#bnMokuji .tokusyu .tokusyuImg {
  float: right;
  width: 130px;
}
#bnMokuji .tokusyu .tokusyuImg li {
  padding-bottom: 6px;
}
#bnMokuji .tokusyu#column .tokusyuBody {
  padding-top: 10px;
}

/* etc
****************************************************************************/
#goPageTop {
  display: none;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 20;
  cursor: pointer;
}
#goPageTop:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 40px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.8;
}
