@charset "utf-8";

/* スマホ版への表示切替 ----------------------------------------------------------- */
#viewChanege {
	clear: both;
	display: block;
	margin-top:20px;
	padding: 50px 0;
	background:#171717;
	font-size: 30px;
	color:#fff;
	text-align: center;
}

#viewChanege span {
	text-decoration: underline;
	font-weight: bold;
}