@charset="utf-8"

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
}
body {
    width: 640px;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    visibility: hidden;

    background-color: #fff;
    color: #666;
    font-size: 24px;
    font-family: sans-serif;
    line-height: 1.25em;
}
a {
    color: #39f;
}
img {
    dislpay: block;
}
hr {
    border-top: 1px #ccc solid;
}
ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    -moz-padding-start: 0;
}
li {
    display: inline-block;
}

header,footer {
    background-color: #2cbf13;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 6px 0;
    margin-bottom: -2px;
    z-index: 9999;
}

.left {
    text-align: left;
    padding-left: 10px;
}
.center {
    text-align: center;
}

.margin-1 {
    margin: 8px 0;
}
.margin-2 {
    margin: 12px 0;
}
.margin-3 {
    margin: 18px 0;
}

.color-red {
    color: #f00;
}
.size-1 {
    font-size: 0.75em;
}
.size-2 {
    font-size: 1em;
}
.size-3 {
    font-size: 1.5em;
}

ul#stamp-list {
    width: 70%;
    margin: 0 auto;
}
#stamp-list li {
    width: 50%;
    margin-top: 10px;
}
#stamp-list li img {
    width: 85%;
    border: 2px #2cbf13 solid;
}

#aggrement, #aggrement input[type="checkbox"] {
    line-height: 48px;
    vertical-align: top;
}
#aggrement input[type="checkbox"] {
    width: 44px;
    height: 44px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    background-image: url(../img/page/common/chk_off.png);
    background-color: transparent;
    border: none;
    background-size: 40px;
    background-position: left top;
    background-repeat: no-repeat;
    margin-right: 6px;
}
#aggrement input[type="checkbox"]:checked {
    background-image: url(../img/page/common/chk_on.png);
}

.btn-download {
    position: relative;
    top: -204px;
    margin-bottom: -60px;
    display: inline-block;
    padding: 14px 24px;
    background-color: #2cbf13;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.menu {
    border-radius: 1px 1px;
    -webkit-border-radius: 1px 1px;
    background-color: #FFFFFF;
    font-size: x-large;
    text-align: left;
    width: 95%;
    margin: 0px auto;
    border: 1px solid #c0c0c0;
}
.menu td a {
    display: block;
    color: #A86B30;
    text-decoration: none;
}