[% FOREACH entry IN entries %]
			[% IF entry.url.search(base_url) %]
<article>
<a onmousedown="_nc_sp_clicked(this.href)" href="[% entry.url %]"><h3>[% entry.title %]</h3></a>
</article>
[% END %]
		[% END %]
<!-- / .articleList --></div>
</section>