<section>
<h2>関連リンク</h2>
<div class="articleList">
[% FOREACH entry IN entries %]
		[%
			favicon = "";
			IF entry.url.search('http://www.cyzo.com');
				favicon = "http://www.cyzo.com/common/newzia/newzia_cyzo_icon.gif";
			ELSIF entry.url.search('http://www.menscyzo.com/');
				favicon = "http://www.menscyzo.com/common/newzia/newzia_mens_icon.gif";
			ELSIF entry.url.search('http://www.cyzowoman.com/');
				favicon = "http://www.cyzowoman.com/common/newzia/newzia_woman_icon.gif";
			ELSIF entry.url.search('http://biz-journal.jp/');
				favicon = "http://biz-journal.jp/common/newzia/newzia_bj_icon.gif";
			ELSIF entry.url.search('http://happism.cyzowoman.com/');
				favicon = "http://happism.cyzowoman.com/common/newzia/newzia_happism_icon.gif";
			ELSIF entry.url.search('http://www.premiumcyzo.com/');
		    favicon = "http://www.premiumcyzo.com/common/newzia/newzia_premium_icon.gif";
		  END;
		%]
		[% IF not entry.url.search(base_url) %]

<article>
<a onmousedown="_nc_sp_clicked(this.href)" href="[% entry.url %]"><h3>[% entry.title %]<span><img src="[% favicon %]" class="rsicon" /></span></h3></a>
</article>
[% END %]
		[% END %]
<!-- / .articleList --></div>
</section>

<div style="clear: both; color: #666666; font-size: 12px; text-align: right;">
	powered by <a href="http://connect.newzia.jp/" target="_blank">newziaコネクト</a>
</div>
