<div class="relation-entry_newzia">
<ul>
<!-- 関連記事 -->
		[% FOREACH entry IN entries %]
			[% IF entry.url.search(base_url) %]
		<li><a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]">[% entry.title %]</a></li>
			[% END %]
		[% END %]
	</ul>
</div><!-- relation-entry -->
<!-- 関連記事終了 -->
