<!-- 関連記事 -->
<div class="relation-entry">
	<div class="relation-title">関連記事</div>
	<ul class="he-osu">
		[% FOREACH entry IN entries %]
			[% IF entry.url.search(base_url) %]
		<li><a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]">[% entry.title %]</a></li>
			[% END %]
		[% END %]
	</ul>
</div><!-- relation-entry -->
 <div class="ent-line"><hr /></div>
<!-- 関連記事終了 -->
