<ul>
[% FOREACH entry IN entries %]
<li><a href="[% entry.url %]" target="_blank">[% entry.title %] - [% entry.published_at.strftime('%Y年%m月%d日 %H:%M') %]</a></li>
[% END %]
</ul>
<div style="clear: both; color: #666666; font-size: 12px; text-align: right;">powered by <a href="http://connect.newzia.jp/" target="_blank">newziaコネクト</a></div>