<!-- 関連リンク -->
<section>
	<h2>関連リンク</h2>
	<div class="articleList ranking">
	[% FOREACH entry IN entries %]
		[%
			favicon = "";
			relTxt  = '';
			IF entry.url.search('http://www.cyzo.com');
				favicon = "http://www.cyzo.com/common/newzia/newzia_cyzo_icon.gif";
			ELSIF entry.url.search('http://www.menscyzo.com/');
				favicon = "http://www.menscyzo.com/common/newzia/newzia_mens_icon.gif";
				relTxt  = ' rel="nofollow"';
			ELSIF entry.url.search('http://www.cyzowoman.com/');
				favicon = "http://www.cyzowoman.com/common/newzia/newzia_woman_icon.gif";
			ELSIF entry.url.search('http://biz-journal.jp/');
				favicon = "http://biz-journal.jp/common/newzia/newzia_bj_icon.gif";
			ELSIF entry.url.search('http://happism.cyzowoman.com/');
				favicon = "http://happism.cyzowoman.com/common/newzia/newzia_happism_icon.gif";
			ELSIF entry.url.search('http://www.premiumcyzo.com/');
		    	favicon = "http://www.premiumcyzo.com/common/newzia/newzia_premium_icon.gif";
			ELSIF entry.url.search('http://mess-y.com/');
		   		favicon = "http://mess-y.com/wp/wp-content/themes/messy_pc_theme/img/newzia_messy_icon.gif";
			ELSIF entry.url.search('http://realsound.jp/');
		   		favicon = "http://realsound.jp/img/icon-sns.gif";
			ELSIF entry.url.search('http://otapol.jp/');
		   		favicon = "http://otapol.jp/img/newzia-otapol.gif";
			ELSIF entry.url.search('http://tocana.jp/');
		   		favicon = "http://tocana.jp/img/newzia-tocana.gif";
			ELSIF entry.url.search('http://lite-ra.com/');
		   		favicon = "http://lite-ra.com/img/icon.png";
			ELSIF entry.url.search('http://healthpress.jp/');
		   		favicon = "http://healthpress.jp/img/icon.png";
			ELSIF entry.url.search('http://big-celeb.jp/');
		   		favicon = "http://big-celeb.jp/img/icon.png";

		  END;
		%]
		[% IF not entry.url.search(base_url) %]
			<article class="rank-list">
			<a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]">
			<p class="image rank-photo"><span><img src="[% entry.image_url %]" width="80" alt=""></span></p>
			<h3 class="rank-l-title">[% entry.title %]</h3>
			<p class="sub">[% entry.published_at.strftime('%Y.%m.%d') %] <img src="[% favicon %]" class="rsicon" width="16" /></p>
			</a>
			</article>
		[% END %]
	[% END %]
<!-- / .articleList --></div>
<!-- 関連リンク終了 -->
<div style="clear:both;color:#666666;font-size:12px;text-align:right;padding:6px;">
	Recommended by <a href="http://connect.newzia.jp/" target="_blank">newziaコネクト</a>
</div>
</section>