<section>
<h2>関連リンク</h2>
<div class="articleList">
	[% FOREACH entry IN entries %]
		[% IF entry.url.search(base_url) %]
<article>
<a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]"><h3>[% entry.title %]</h3></a>
</article>
		[% END %]
	[% END %]
<!-- / .articleList --></div>
</section>