<!-- 関連リンク -->
<div id="relation-site-link" class="clearfix">
	
	[% FOREACH entry IN entries %]
		[%
			favicon = "";
			relTxt  = '';
			IF entry.url.search('http://www.cyzo.com');
				favicon = "http://www.cyzo.com/common/newzia/newzia_cyzo_icon.gif";
			ELSIF entry.url.search('http://www.menscyzo.com/');
				favicon = "http://www.menscyzo.com/common/newzia/newzia_mens_icon.gif";
				relTxt  = ' rel="nofollow"';
			ELSIF entry.url.search('http://www.cyzowoman.com/');
				favicon = "http://www.cyzowoman.com/common/newzia/newzia_woman_icon.gif";
			ELSIF entry.url.search('http://biz-journal.jp/');
				favicon = "http://biz-journal.jp/common/newzia/newzia_bj_icon.gif";
			ELSIF entry.url.search('http://happism.cyzowoman.com/');
				favicon = "http://happism.cyzowoman.com/common/newzia/newzia_happism_icon.gif";
			ELSIF entry.url.search('http://www.premiumcyzo.com/');
		    	favicon = "http://www.premiumcyzo.com/common/newzia/newzia_premium_icon.gif";
			ELSIF entry.url.search('http://mess-y.com/');
		   		favicon = "http://mess-y.com/wp/wp-content/themes/messy_pc_theme/img/newzia_messy_icon.gif";
			ELSIF entry.url.search('http://realsound.jp/');
		   		favicon = "http://realsound.jp/img/icon-sns.gif";
			ELSIF entry.url.search('http://otapol.jp/');
		   		favicon = "http://otapol.jp/img/newzia-otapol.gif";
			ELSIF entry.url.search('http://tocana.jp/');
		   		favicon = "http://tocana.jp/img/newzia-tocana.gif";
			ELSIF entry.url.search('http://lite-ra.com/');
		   		favicon = "http://lite-ra.com/img/icon.png";
			ELSIF entry.url.search('http://healthpress.jp/');
		   		favicon = "http://healthpress.jp/img/icon.png";
			ELSIF entry.url.search('http://big-celeb.jp/');
		   		favicon = "http://big-celeb.jp/img/icon.png";

		  END;
		%]
		[% IF not entry.url.search(base_url) %]
			[% IF entry.url.search('http://big-celeb.jp/') %]
				[% imageURL = entry.image_url.replace("w650|w300", "w200") %]
			[% ELSE %]
				[% imageURL = entry.image_url %]
			[% END %]
<div class="logly-lift"><div class="logly-lift-ad-inner">
	<div class="logly-lift-ad-image"><div class="logly-lift-ad-image-inner">
		<a href="[% entry.url %]" target="_blank"><img src="[% imageURL %]"></a>
	</div></div>
	<div class="logly-lift-ad-content"><div class="logly-lift-ad-content-inner">
		<div class="logly-lift-ad-title"><a href="[% entry.url %]" target="_blank">[% entry.title %]</a></div>
		<div class="logly-lift-ad-disclosure">[% entry.published_at.strftime('%Y.%m.%d') %]<img src="[% favicon %]" class="rsicon" width="16" /></div>
	</div></div>
</div></div>
		[% END %]
	[% END %]
</div><!-- relation-site-link -->
<!-- 関連リンク終了 -->

<?php include(XOOPS_ROOT_PATH ."/dev/include/logly_bottom-ad.php"); ?>
<script type="text/javascript">loadedImageAutoResize(80, 80, 'img.rsthumb');</script>