<!-- 関連記事 -->
<div class="relation-entry">
	<div class="relation-title">[ 関連記事 ]</div>
	<ul class="relation-list">
		[% FOREACH entry IN entries %]
			[% IF entry.url.search(base_url) %]
		<li><a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]">[% entry.title %]</a></li>
			[% END %]
		[% END %]
	</ul>
</div><!-- relation-entry -->
<!-- 関連記事終了 -->

<!-- 関連リンク -->
<div class="relation-site-link clearfix">
	<div class="relation-title">[ 関連リンク ]</div>
	
	[% FOREACH entry IN entries %]
		[%
			favicon = "";
			IF entry.url.search('http://www.cyzo.com');
				favicon = "http://www.cyzo.com/common/newzia/newzia_cyzo_icon.gif";
			ELSIF entry.url.search('http://www.menscyzo.com/');
				favicon = "http://www.menscyzo.com/common/newzia/newzia_mens_icon.gif";
			ELSIF entry.url.search('http://www.cyzowoman.com/');
				favicon = "http://www.cyzowoman.com/common/newzia/newzia_woman_icon.gif";
			ELSIF entry.url.search('http://biz-journal.jp/');
				favicon = "http://biz-journal.jp/common/newzia/newzia_bj_icon.gif";
			ELSIF entry.url.search('http://happism.cyzowoman.com/');
				favicon = "http://happism.cyzowoman.com/common/newzia/newzia_happism_icon.gif";
			ELSIF entry.url.search('http://www.premiumcyzo.com/');
		    favicon = "http://www.premiumcyzo.com/common/newzia/newzia_premium_icon.gif";
		  END;
		%]
		[% IF not entry.url.search(base_url) %]
	<div class="relation-site-list">
		<div class="rsimg">
			<a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]">
				[% IF entry.image_url %]
				<img src="[% entry.image_url %]" class="rsthumb"/>
				[% END %]
			</a>
		</div>
		<div class="rstxt">
			<h5><a onmousedown="_nc_clicked(this.href)" href="[% entry.url %]">[% entry.title %]</a></h5>
			<div class="date">[% entry.published_at.strftime('%Y.%m.%d') %]<img src="[% favicon %]" class="rsicon" /></div>
		</div>
	</div>
		[% END %]
	[% END %]
</div><!-- relation-site-link -->
<!-- 関連リンク終了 -->

<div style="clear: both; color: #666666; font-size: 12px; text-align: right;">
	powered by <a href="http://connect.newzia.jp/" target="_blank">newziaコネクト</a>
</div>

<script type="text/javascript">loadedImageAutoResize(80, 80, 'img.rsthumb');</script>